.hero {
  display: flex;
  justify-content: center;
  gap: 8rem;
  padding: 1rem 14rem;
  padding-right: 22rem;
}
.hero__social {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  letter-spacing: 0rem;
}
.hero__social-text {
  font-size: 2.2rem;
}
.hero__social-link {
  font-family: "DM Serif Text", serif;
  font-size: 1.6rem;
}
.hero__img-box {
  flex: 3;
  position: relative;
}
.hero__img-box--fig {
  position: absolute;
  bottom: -2.5rem;
}
.hero__text-box {
  flex: 6;
  align-self: flex-end;
}

.skills {
  padding: 0 9rem;
  padding-bottom: 3rem;
  position: relative;
}
.skills .heading-primary {
  font-size: 32rem;
}
.skills__container {
  width: 60%;
  margin-left: 15rem;
}
.skills__img-box {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 2rem 4rem;
}
.skills__img-box svg {
  width: 100%;
}

.history {
  padding: 0 9rem;
  padding-bottom: 3rem;
  position: relative;
}
.history .heading-primary {
  text-align: center;
}
.history__container {
  width: 75%;
  margin: auto;
}
.history__container .first-row {
  width: 55%;
}
.history__container .second-row .column:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.history__container .second-row .column:nth-child(2):nth-child(2) {
  margin-top: 10rem;
}
.history__container .second-row .column:nth-child(2):nth-child(2) .heading-secondary {
  font-size: 3rem;
}
.history__project-desc {
  display: flex;
  justify-content: space-between;
}
.history__project-desc .date {
  font-size: 1.5rem;
}
.history__project-clients {
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 4rem;
}

.writting {
  padding: 0 9rem;
}
.writting__container {
  width: 45%;
  margin-left: 15rem;
}
.writting__heading-sub {
  font-size: 3rem;
}

.tips {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  transform-origin: center;
  transform: rotateZ(3deg);
  transition: 0.3s;
}
.tips input {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  opacity: 0;
}
.tips input:checked ~ .tips-svg .content {
  display: block;
}
.tips input:checked ~ .tips-svg .content::after {
  height: 35px;
}
.tips input:checked ~ .tips-svg .content .text {
  transform: translateY(0rem) rotateZ(0deg);
  opacity: 1;
  pointer-events: all;
}
.tips input:checked ~ .tips-svg .svg-container {
  background: rgba(242, 219, 166, 0.8);
}
.tips input:checked ~ .tips-svg .svg-container svg {
  transform: scale(1.1);
}
.tips input:checked ~ .tips-svg::before {
  opacity: 0.3;
}
.tips:hover {
  transform: rotateZ(5deg);
}
.tips:hover .tips-svg .svg-container {
  background: rgba(242, 219, 166, 0.8);
}
.tips .tips-svg {
  width: 90px;
  height: 90px;
  margin-left: auto;
  border-radius: 50%;
  border: 1px solid #292823;
  position: relative;
}
.tips .tips-svg .content {
  width: 200px;
  text-align: center;
  margin-bottom: 6rem;
  position: absolute;
  top: -20rem;
  left: -11rem;
  pointer-events: none;
}
.tips .tips-svg .content .text {
  background-color: #f5e4bc;
  padding: 1rem;
  border: dashed 2px #efcc7e;
  transform: translateY(-5rem) rotateZ(-3deg);
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.2s;
}
.tips .tips-svg .content .text a {
  font-weight: 700;
  text-decoration: underline;
}
.tips .tips-svg .content::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0px;
  background: #292823;
  bottom: -5rem;
  right: 4rem;
  transition: 0.3s;
}
.tips .tips-svg .content h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}
.tips .tips-svg .content p {
  font-size: 1.6rem;
}
.tips .tips-svg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-6px, -6px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #292823;
}
.tips .tips-svg .svg-container {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background: transparent;
  mix-blend-mode: multiply;
}
.tips .tips-svg .svg-container svg {
  width: 105%;
  height: 105%;
  transition: 0.3s;
  position: absolute;
  top: 5px;
  left: 5px;
}

.easter-egg {
  background-color: white;
  overflow: hidden;
}
.easter-egg .transition {
  width: 150%;
  height: 250px;
}
.easter-egg .transition svg {
  width: 100%;
  height: 100%;
  transform: translateX(-100px);
  filter: drop-shadow(0rem 0.5rem 1rem rgba(0, 0, 0, 0.3));
}
.easter-egg .content {
  overflow: hidden;
  margin: 0 15rem;
  margin-bottom: 15rem;
  font-family: "Times New Roman", Times, serif !important;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2 !important;
}
.easter-egg .content h2,
.easter-egg .content h3,
.easter-egg .content h4 {
  font-weight: 900;
}
.easter-egg .content h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.easter-egg .content h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.easter-egg .content h4 {
  margin-bottom: 0.25rem;
}
.easter-egg .content .frame {
  width: 100%;
  border: 1px solid #000;
  padding: 1rem;
}
.easter-egg .content .frame td {
  width: 33%;
}
.easter-egg .content .frame__link {
  text-decoration: underline;
}
.easter-egg .content summary {
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
}
.easter-egg .content summary input {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 20px;
  opacity: 0;
}
.easter-egg .content summary input:checked ~ p {
  display: block;
}
.easter-egg .content summary input:checked ~ .symbol {
  display: inline-block;
  transform: rotateZ(90deg);
}
.easter-egg .content summary .symbol {
  transform: rotateZ(90deg);
}
.easter-egg .content summary p {
  display: none;
}
.easter-egg .content .span-animation {
  display: inline-block;
  font-size: 2rem;
  animation: moveSpan 10s linear infinite;
}

/*# sourceMappingURL=home.css.map */
